.videoSpeed.speedIndicator {
  position: absolute;
  top: 10px;
  color: black;
  text-align: center;
  width: 100px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  z-index: 9999999999;
  border-radius: 6px;
  box-shadow: gray 0 0 6px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  visibility: hidden;

  &.fadein {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.05s ease-out;
  }

  &.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in, visibility 0s 0.3s;
  }

}
